# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"         # change to "yarn" or "pnpm" if you use those
    directory: "/"                   # adjust if package.json is in a subdirectory
    schedule:
      interval: "weekly"             # "daily", "weekly", or "monthly"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(deps)"
      include: "scope"
